# Pandas:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Object Creation
a = pd.Series([2, 4, 6, 8, 9])
print (a)
print (type(a))

0    2
1    4
2    6
3    8
4    9
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
dates = pd.date_range("20020225", periods=6)
dates

In [ ]:
dates = pd.date_range("20020225", periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 5) ,index=dates, columns=list("ABCDE"))
df

In [4]:



df2 = pd.DataFrame(
    {
        "A":np.array([1,2,3,4]),
        "B":pd.date_range("20020225", periods=4),
        # "B":pd.Timestamp("20220724"),
        "C":np.arange(4),
        "D":pd.Categorical(['male','female','male','female']),
        "E":"Female"
    }
)
df2

   A          B  C       D       E
0  1 2002-02-25  0    male  Female
1  2 2002-02-26  1  female  Female
2  3 2002-02-27  2    male  Female
3  4 2002-02-28  3  female  Female

In [ ]:
df2.dtypes

In [ ]:
df2.head(3)

In [ ]:
df2.tail(2)

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
df2.describe()

In [ ]:
df2.T         # to convert rows into column

In [ ]:
df2.sort_values("C")                # sort by C

In [ ]:
df2["D"]               # select columns

In [ ]:
df2[0:2]       # row wise selection

In [ ]:
df2.loc[0:3,["B","D","E"]]         # column wise selection

In [ ]:
df2.loc["20020226":"20020228", ["A","C"]]        # something went wrong

In [ ]:
df.loc[dates[0]]    # cross section

In [ ]:
df.at[dates[0],"A"]

In [ ]:
df2.iloc[0:3]       # row wise

In [ ]:
df2.iloc[:, 0:3]       #column wise

In [ ]:
df2[df2["A"] > 1]    # show values greater than 1 in A

In [ ]:
df[df > -1]              # show values greater than -1 in whole dataset

# Add Column

In [ ]:
df2["F"]=[23, 44,55,66]      # Add new column in df2
df2